<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="navbar p-3 bg-white">
      <div>
        <i class="fa-solid fa-film fa-2xl" style="color: #63E6BE;"></i>
      </div>
      <div class="d-flex">
        <%= link_to "My lists", lists_path , class:"button-primary mx-2" %>
        <p>Add a new list</p>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
